/* ================================================================== */
                              /* Snackbar */
/* ================================================================== */

.snackbar {
  position: absolute;
  bottom: -100;
  left: 50%;
  background-color: var(--main-bg-color);
  border: 1px solid var(--main-border-color);
  padding: 12px 20px;
  border-radius: 10px;
  animation-duration: 4s;
  animation-name: slideinout;
  animation-iteration-count: 1;
  font-weight: 700;
}


@keyframes slideinout {
  0% {
    bottom: 110%;
  }
  5% {
    bottom: 90%;
  }
  95%{
    bottom: 90%;
  }
  100% {
    bottom: 110%;
  }
}

