{%- import "components/index/cards.html" as cards -%}

{% macro grid() %}
  <div class="index_grid">
    <div class="index_grid-item i_grid-1">
        {% call cards::profile() %}
    </div>
    <div class="index_grid-item i_grid-2">
        {% call cards::tech_stack() %}
    </div>
    <div class="index_grid-item i_grid-3">
        {% call cards::social() %}
    </div>
    <div class="index_grid-item i_grid-4">
        {% call cards::profile_picture() %}
    </div>
    <div class="index_grid-item i_grid-5">
        {% call cards::about() %}
    </div>
    <div class="index_grid-item i_grid-6">
        {% call cards::setup() %}
    </div>
    <div class="index_grid-item i_grid-7"
      hx-get="/visit"
      hx-trigger="load"
      hx-swap="innerHTML">
    </div>
    <div class="index_grid-item i_grid-8">
        {% call cards::contact() %}
    </div>
    <div class="index_grid-item i_grid-9">
        {% call cards::website_stack() %}
    </div>
    <div class="index_grid-item i_grid-10">
        {% call cards::map() %}
    </div>
  </div>
{% endmacro %}
