{%- import "components/layout/top-bar.html" as topBar -%}
{%- import "components/layout/styles.html" as styles -%}
{%- import "components/layout/configuration-page.html" as configurationPage -%}
{%- import "components/layout/loader.html" as loader -%}

<!doctype html>
<html lang="en">

<head>
  <title>Cealum</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {% call styles::default() %}
</head>

<body id="body">
  <main>
    <div id="content">
      {% call configurationPage::start(back_target="dashboard", title="Settings") %}
        <div id="window_content" 
          class="window-content"
          hx-get="settings/profile"
          hx-trigger="load"
          hx-swap="innerHTML"
        >
          {% call loader::default() %}
        </div>
      {% call configurationPage::end() %}
    </div>
    <div id="snackbar"></div>
  </main>
  <link href="css/settings.css" rel="stylesheet" hx-swap-oob="true" id="settings-css" />
</body>
</html>
