{%- import "components/layout/top-bar.html" as topBar -%}
{%- import "components/layout/styles.html" as styles -%}

<!doctype html>
<html lang="en">

<head>
  <title>Cealum</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {% call styles::default() %}
</head>

<body id="body">
  <main>
    <div id="content">
      <div id="window_content" class="window-content">SETIIIIIIIIIIIIIIIIIIIIIIIING</div>
    </div>
    <div id="snackbar"></div>
  </main>
  <link href="css/settings.css" rel="stylesheet" hx-swap-oob="true" id="settings-css" />
</body>
</html>
