@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;400;700&display=swap');
@import url('inputs.css');
@import url('feedback.css');

:root {
  --main-bg-color: #121212;
  --light-bg-color: #323232;
  --main-text-color: #fefefe;
  --dark-text-color: #050505;
  --main-border-color: #960018;
  /* --primary: #8bc3f1; */
  --primary: #960018;
  --secondary: #ec5353;
  --warning: #ffc338;
  --error: #d42c64;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  margin: 0;
  opacity: 0;
  font-family: Barlow;
  animation: showBody 0.3s forwards 0.1s;
}

@keyframes showBody {
  100% {
    opacity: 1;
  }
}

hr {
  width: 70%;
  border: 0 solid var(--main-border-color);
  border-bottom: 0.5px solid var(--main-border-color);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0 0 10px 0;
}

.red {
  color: red;
}

.hide {
  opacity: 0;
  animation: showBody 500ms forwards 100ms;
}

.error {
  background-color: var(--error);
}

.warning {
  background-color: var(--warning);
}

.pointer {
  cursor: pointer;
}

.a {
  color: var(--primary);
  text-decoration: none;
}

.a:hover {
  text-decoration: underline;
}

/* ===============TOP BAR================ */
.top-bar_container {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 50px;
  background-color: var(--light-bg-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 8px var(--primary);
}

.top-bar_links {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.top-bar_logout {
  margin-right: 20px;
}

/* ===============Window================ */
.window-content {
  height: calc(100vh - 50px);
}
