{% macro default() %}
  <link href="css/global.css" rel="stylesheet" />
  <link href="css/index.css" rel="stylesheet" id="index-css" />
  <link href="css/inputs.css" rel="stylesheet" />
  <link href="" id="settings-css" />
  <link href="css/components/auth/auth.css" rel="stylesheet" hx-swap-oob="true" id="auth-css" />
  <link id="tools-css" href=""><link />
  <script src="https://unpkg.com/htmx.org@1.9.10"></script>
  <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
{% endmacro %}
