{%- import "components/inputs/textfield.html" as textfield -%}
{%- import "components/inputs/button.html" as button -%}

<div class="auth_form-container" id="dashboard" hx-swap-oob="true">
  <form hx-post="/login" hx-ext='json-enc' hx-swap="afterend" class="auth_form">
    <h1>Login</h1>
    <hr/>
    <div class="auth_form-group">
      {% call textfield::classic("text", name="email", label="Email address") %}
      {% call textfield::classic("password", name="password", label="Password") %}
    </div>
    {% call button::default("submit", variant="contained", label="Login", custom_style="") %}
    <span class="auth_register">
      Not yet registered?
      <span class="auth_register primary" hx-get="/register" hx-target="#body">
        Register
      </span>
    </span>
  </form>
  <link href="css/components/auth/auth.css" rel="stylesheet" hx-swap-oob="true" id="auth-css"  />
</div>

