{%- import "components/inputs/textfield.html" as textfield -%}
{%- import "components/inputs/button.html" as button -%}

<div class="auth_form-container" id="content" hx-swap-oob="true">
  <form hx-post="/register" hx-ext='json-enc' hx-swap="afterend" class="auth_form">
    <div style="align-self: flex-start; margin-left: 20px" hx-get="/" hx-push-url="/" hx-trigger="click"
      hx-swap="outerHTML" hx-target="#body">
      {% call button::default("button", variant="classic", label="← back", custom_style="width: 70px") %}
    </div>
    <h1>Register</h1>
    <hr />
    <div class="auth_form-group">
      {% call textfield::classic("text", name="email", label="Email address") %}
      {% call textfield::classic("text", name="username", label="username") %}
      {% call textfield::classic("password", name="password", label="Password") %}
      {% call textfield::classic("password", name="password_confirm", label="Confirm password") %}
    </div>
    {% call button::default("submit", variant="contained", label="Register", custom_style="") %}
    <span class="auth_register">
      Already have an account?
      <span class="auth_register primary" hx-get="/login" hx-target="#body">
        login
      </span>
    </span>
  </form>
  <link href="css/components/auth/auth.css" rel="stylesheet" hx-swap-oob="true" id="auth-css" />
</div>
