{%- import "components/inputs/textfield.html" as textfield -%} {%- import "components/inputs/button.html" as button -%}

<div class="settings-profile_container">
  <div>
    <form hx-post="/settings/profile" hx-ext="json-enc" hx-swap="afterend" class="settings-profile_form">
      <h2>General Profile</h2>
      {% call textfield::classic_default_value_disabled("text", name="email", label="Email address",
      default_value=email.clone()) %} {% call textfield::classic_default_value("text", name="username",
      label="Username", default_value=username.clone()) %} {% call textfield::classic_default_value("text", name="lon",
      label="Longitude", default_value=lon.clone()) %} {% call textfield::classic_default_value("text", name="lat",
      label="Latitude", default_value=lat.clone()) %}
      <h2>Open Weather</h2>
      {% call textfield::classic_default_value("text", name="openWeatherApiKey", label="API key",
      default_value=open_weather_api_key.clone()) %} {% call button::default("submit", variant="contained",
      label="Save",custom_style="align-self: flex-end; width: 100px") %}
    </form>
  </div>
</div>
