{%- import "components/inputs/textfield.html" as textfield -%} {%- import "components/inputs/button.html" as button -%}

<div class="tools_chat-container">
  <div class="tools_chat-window tools_chat-text" id="tools_chat_window"></div>
  <form
    hx-post="/tools/chat"
    hx-ext="json-enc"
    hx-select-oob="#tools_chat_window:beforeend"
    hx-swap="afterend"
    class="tools_chat-window tools_chat-prompt"
  >
    <div class="tools_chat-ml">{% call textfield::multiple_line("prompt") %}</div>
    {% call button::default("submit", variant="contained", label="send", custom_style="width: 100px") %}
  </form>
</div>
