<!doctype html>
<html lang="en">
  <head id="head">
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="css/global.css" rel="stylesheet" />
    <link href="css/login.css" rel="stylesheet"  />
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
  </head>
  <body id="body" hx-get="/dashboard-props" hx-trigger="load" hx-swap="innerHTML"></body>
</html>
