<!doctype html>
<html lang="en">
  <head id="head">
    <title>Opus</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="css/global.css" rel="stylesheet" />
    <link href="css/components/auth/auth.css" rel="stylesheet"  />
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
  </head>
  <body>
    <div  id="body" hx-get="/dashboard-props" hx-trigger="load" hx-swap="innerHTML"></div>
    <div  id="snackbar"></div>
    <div hx-get="/test" hx-trigger="load"></div>
  </body>
</html>
