{%- import "components/index/grid.html" as grid -%}
{%- import "components/inputs/button.html" as button -%}

<!doctype html>
<html lang="en" id="html">

<head>
  <title>Portfolio tsorabel</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="css/global.css" rel="stylesheet" />
  <link href="css/index.css" rel="stylesheet" id="index-css" />
  <link href="css/inputs.css" rel="stylesheet" />
  <script src="https://unpkg.com/htmx.org@1.9.10"></script>
  <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
</head>

<body id="body">
  <div class="index_container">
    {% call grid::grid() %}
    <div class="index_dashboard_button_wraper" hx-get="/dashboard" hx-push-url="/dashboard" hx-trigger="click"
      hx-swap="outerHTML" hx-target="#body">
      {% call button::default("button", variant="classic", label="Dashboard", custom_style="width: 180px;height: 35px")
      %}
      <link href="css/index.css" rel="stylesheet" hx-swap-oob="true" id="index-css" />
    </div>
  </div>
</body>

</html>
