@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;400;700&display=swap');
@import url("inputs.css");
@import url("feedback.css");

:root {
  --main-bg-color: #121212;
  --light-bg-color: #323232;
  --main-text-color: #FEFEFE;
  --dark-text-color: #050505;
  --main-border-color: #2f2f2f;
  --primary: #8BC3F1;
  --secondary: #42A5F5;
  --warning: #ffc338;
  --error: #D42C64;
}


body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  margin: 0;
  opacity: 0;
  font-family: Barlow;
  animation: showBody 1s forwards 1s;
}

@keyframes showBody {
  100% {
    opacity: 1;
  }
}


hr {
  width: 70%;
  border: 0 solid var(--main-border-color);
  border-bottom: 0.5px solid var(--main-border-color);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0 0 10px 0;
}

.red {
  color: red;
}

.hide {
  opacity: 0;
  animation: showBody 1s forwards 1s;
}

.error {
  background-color: var(--error);
}

.warning {
  background-color: var(--warning);
}

.pointer {
  cursor: pointer;
}

.a {
  color: var(--primary);
  text-decoration: none;
}

.a:hover {
  text-decoration: underline;
}
