@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;400;700&display=swap');
@import url("textfield.css");
@import url("button.css");

:root {
  --main-bg-color: #121212;
  --main-text-color: #FEFEFE;
  --dark-text-color: #050505;
  --main-border-color: #2f2f2f;
  --primary: #8BC3F1;
  --secondary: #42A5F5;
  --warning: #ffc338;
  --error: #D42C64;
}


body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  margin: 0;
  font-family: Barlow;
}

hr {
  width: 70%;
  border: 0 solid var(--main-border-color);
  border-bottom: 0.5px solid var(--main-border-color);
  margin: 0;
}

h1, h2, h3, h4, h5 {
  margin: 0 0 10px 0;
}

.red {
  color: red;
}


.snackbar {
  position: absolute;
  bottom: -100;
  left: 50%;
  background-color: var(--main-bg-color);
  border: 1px solid var(--main-border-color);
  padding: 12px 20px;
  border-radius: 10px;
  animation-duration: 4s;
  animation-name: slideinout;
  animation-iteration-count: 1;
  font-weight: 700;
}


@keyframes slideinout {
  0% {
    bottom: 110%;
  }
  5% {
    bottom: 90%;
  }
  95%{
    bottom: 90%;
  }
  100% {
    bottom: 110%;
  }
}

.error {
  background-color: var(--error);
}

.warning {
  background-color: var(--warning);
}
